:root {
    --violet: #7F91D7;
    --peach: #DD8C8B;
    --dark: #3d322f;
    --light: #ebe9de;
}
* {
    /*border: 1px solid var(--dark);*/
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Spectral, Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    color: var(--dark);
    background-color: var(--light);
}

/* INTRO SECTION */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    color: white;
    background-color: var(--violet);
}
.intro h1 {
    font-family: "Poiret One", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10vh;
}
#headshot {
    height: 50vh;
    max-height: 400px;
}
.round-square {
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

/* MAIN SECTION */
main {
    width: min(80%, 800px);
    margin: auto;
    padding: 50px 0;
}
p {
    font-size: 1.15em;
    line-height: 1.5;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--peach);
}
.social-link {
    display: flex;
    align-items: center;
    width: min(200px, 25%);
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}
.social-link:hover {
    background-color: var(--dark);
    color: var(--light);
}
i {
    font-size: 1.5rem;
    margin-right: 7px;
}
